button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  border: solid 1px darkgrey;
  border-radius: 5px;
  padding: 5px;
  margin: 0 20px;
  cursor: pointer;
}

button:hover{
  background-color: rgb(233, 228, 228);
}

button:active{
  background-color: rgb(233, 228, 228);
  border: solid black 1px;
}

a{
  text-decoration: none;
  color: white;
}